/* // 📄 src/components/Heroes/ModalHeroesGo/ModalHeroesGo.module.css */
.army_table {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}

.unit_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background: #eee;
  border-radius: 6px;

  cursor: pointer;
  transition: background 0.2s;
}

.unit_row:hover {
  background: #ddd;
}

.unit_row.active {
  background-color: #ccc;
  box-shadow: 0 0 0 2px #333 inset;
}

.unit_row.exceeded {
  background-color: #f8d2d2 !important;
  border: 1px solid #ff0000;
}

.unit_img {
  display: flex;
  align-items: center;
  gap: 4px;
}

.unit_icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.unit_info {
  min-width: 64px;
  font-weight: bold;
  color: black;
}

.unit_count {
  font-size: 12px;
  color: #444;
}

.unit_meta {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-end;
}

.unit_capacity {
  font-size: 12px;
  color: #222;
  font-weight: 500;
}

.slider_container {
  padding: 5px;
  background-color: #1a1a1a;
  border-radius: 8px;
  margin-top: 10px;
}

.slider {
  width: 100%;
}
