  /* DominumPage.module.css */
  .page_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url("/dominum/backGround/dominum_bg_mine.jpg");
  }

  .icons_wrapper {
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.05);
  }

  .map_container {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center ;
    align-items: center;
  }

  .floating_island {
    position: relative;
    animation: floatIsland 6s ease-in-out infinite;
  }

  .map_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    justify-content: center;
    align-items: center;
  }

  @keyframes floatIsland {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  



