.footer_container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer_header_wrapper {
  display: flex;
  align-items: center;
}

.footer_link {
  margin: 4px;
}

.footer_img_button {
  width: 55px;
}