/* // 📄 src/components/Heroes/ModalHeroesGo/ModalHeroesGo.module.css */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 16px; /* 👈 чтобы на мобилках было место */
  box-sizing: border-box; /* 👈 это важно! */
}

.modal_content {
  width: 100%;
  max-width: 600px;
  background: #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.viewer_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.hero_selector_small {
  transform: scale(0.9);
}


.button {
  padding: 10px 20px;
  background-color: #747d75;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.selected_hero_preview {
  margin-bottom: 10px;
  background: #f3f3f3;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selected_hero_card {
  display: flex;
  align-items: center;
  gap: 12px;
}

.preview_img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
}

.hero_list {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
}

.controls {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.army_slider {
  display: flex;
  align-items: center;
  gap: 10px;
}

.capacity_info {
  font-size: 12px;
  color: #201d1d;
}

.actions {
  display: flex;
  gap: 10px;
}
