.menu_container {
  width: 100%;
  min-height: 100vh;
  flex-grow: 1;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/dominum/backGround/bg-login-2.jpg");
  background-size: cover;
  background-position: center;
}

.menu_title {
  margin-top: 80px;
  font-family: Helvetica, sans-serif;
  color: rgba(241, 188, 13, 0.87);
}

.icon_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  gap: 40px;              /* расстояние между иконками */
  margin-top: 50px; 
}

.user_img {
  cursor: pointer;   
  width: 60%;       
}

.icon {
  width: 160px;
  height: 160px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
}