/* IslandMapController.module.css */
.viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: grab;
  touch-action: none; /* Важно для отключения жестов браузера */
}


.inner {
  width: 1000px;
  height: 1000px;
  position: relative;
  transition: transform 0.2s ease;
}
